﻿@model MWApp.Models.MaestroModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MaestroView</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link type="text/css" href="~/Content/css/bootstrap.css" rel="stylesheet" />
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4><b>Departamento</b></h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.departamento.nombre, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.departamento.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.departamento.nombre, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.departamento.referencia, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.departamento.referencia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.departamento.referencia, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.departamento.descripcion, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.departamento.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.departamento.descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <br/>
            <h4><b>Empleados</b><input type="button" value="Agregar Empleado" class="btn btn-success" style="float: right" /></h4>

            <hr />
            
            @for (int i = 0; i < Model.empleados.Count(); i++)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.empleados[i].nombre, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.empleados[i].nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.empleados[i].nombre, "", new { @class = "text-danger" })
                    </div>

                    @Html.LabelFor(model => model.empleados[i].descripcion, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.empleados[i].descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.empleados[i].descripcion, "", new { @class = "text-danger" })
                    </div>
                    
                    @Html.LabelFor(model => model.empleados[i].sexo, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.empleados[i].sexo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.empleados[i].sexo, "", new { @class = "text-danger" })
                    </div>

                    @Html.LabelFor(model => model.empleados[i].fecha_nacimiento, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.empleados[i].fecha_nacimiento, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.empleados[i].fecha_nacimiento, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

    
            <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" style="float: right; margin-right: 15%" 
            </div>
        </div>
    }
    
</body>
</html>
